header {
  background-color: orange;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: center;
}

.menu li a{
  color: white;
  padding: 25px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Turret Road', cursive;
  font-weight: bold;
}

.menu li a:hover{
  background-color: #e6e7e5;
}
