<div class="container">
  <h1>My works</h1>
  <div class="slider">
    <div class="slider-item">
      <img src="{{currentImg}}" alt="">
      <div class="slider-desc-items">
        <div class="slides-description">
          <h5 class="title">{{currentTitle}}</h5>
          <div class="description">
            <p>{{currentText}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons-wrapper">
      <button (click)="prev()">prev</button>
      <button (click)="next()">next</button>
    </div>

  </div>
</div>
